/*共通UI*/
.page-nav-btns {
  margin-bottom: 40px;

  &__list {
    border: 4px solid #fff;
    border-radius: 10px;
    box-shadow: 8px 8px #777;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    transition: 0.2s;

    .fa-arrow-right {
      display: none;
      font-size: 2.8rem;
    }

    .navs-text {
      color: #ffffff;
      display: block;
    }

    span {
      font-size: 2.8rem;
      letter-spacing: 0.25rem;
    }

    &.active {
      .fa-arrow-right {
        display: block;
      }
    }

    &:hover {
      box-shadow: none;
      opacity: 0.6;

      .fa-arrow-right {
        display: block;
      }
    }

  }

  &.admin &__list {
    margin-bottom: 30px;
  }

  @include sp {
    margin-bottom: 0;
    width: 30%;

    &__list {
      border: 4px solid #fff {
        radius: 20px;
      }

      box-shadow: none;
      margin-bottom: 0;
      padding: 8px 6.7%;

      .fa-arrow-right {
        display: none;
        font-size: 1.4rem;
      }

      span {
        font-size: 1.6rem;
        letter-spacing: 0.25rem;
      }
    }

    &__list+&__list {
      margin: 0;
    }

    &.admin {
      width: 100%;
    }

    &.admin &__list {
      margin-bottom: 10px;
    }
  }
}

.buttons {
  padding: 10px 0;
  .button {
    background: #555;
    border-radius: 4px;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: .4s;
    letter-spacing: .25em;
    &:hover {
      background: #fff;
      color: #555;
      transition: .4s;
    }
  }
}

.edit-button {
  display: flex;
  justify-content: flex-end;
}

/*フォームUI*/
.form {
  &__group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    &__label {
      display: inline-block;
      font-size: 2rem;
      text-align: right;
      width: 37.2%;
      margin-bottom: 20px;
    }

    &__inputs {
      font-size: 1.6rem;
      display: flex;
      flex-wrap: wrap;
      padding: 2px;
      width: 62.8%;
      margin-bottom: 20px;
      input {
        width: 100%;
      }
    }
    &__attention {
      color: #ff3333;
      font-size: 1.4rem;
      padding: 4px 2px;
    }

    @include sp {
      margin-bottom: 20px;

      &__label {
        font-size: 1.4rem;
        margin-bottom: 10px;
        text-align: start;
      }

      &__inputs {
        font-size: 1.4rem;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;

    &__btn {
      box-shadow: 4px 4px #666;
      border-radius: 10px;
      cursor: pointer;
      display: inline-block;
      font-size: 1.6rem;
      padding: 8px 40px;
      transition: .2s;

      &:hover {
        box-shadow: none;
      }
    }

    @include sp {
      padding: 10px;

      &__btn {
        box-shadow: none;
        font-size: 1.4rem;
        padding: 8px 20px;
      }
    }
  }

  &__txt {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 20px;

    @include sp {
      font-size: 1.4rem;
    }
  }
}
