[v-cloak] {
  display: none;
}

.works-con {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;

  @include sp {
    padding: 10px 1.2%;
  }

  &__title {
    font-size: 2.8rem;
    padding: 10px;
    margin: 0 auto 20px;
    margin: 0;
    letter-spacing: 0.25em;

    @include sp {
      font-size: 2.2rem;
      padding: 10px 1.2%;
      margin: 0 auto;
      letter-spacing: 0.2em;
      white-space: nowrap;
    }
  }

  &__inner--top {
    width: 100%;

    border: 4px solid #fff {
      radius: 10px;
    }

    overflow-x: scroll;
    height: 60vh;
    margin-bottom: 40px;
    padding: 20px;

    @include sp {
      overflow-y: scroll;
      overflow-x: scroll;
      max-height: 200px;
      height: 200px;
      padding: 20px 2.2% 10px; //10px
      margin: 0;
    }
  }

  &__inner--bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @include sp {
      background: #444;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.works-list {
  display: flex;
  flex-flow: row wrap;

  .work-item {
    width: 25%;
    max-width: 228px;
    padding-bottom: 28px;

    &__frame {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      width: 87.8%; //200px
    }

    &__title {
      font-size: 1.3rem;
      line-height: 1.75;
      padding-left: 10px;
    }

    &__category {
      font-size: 1.2rem;
      padding-left: 10px;
    }
  }

  @include sp {
    width: 2800px;

    .work-item {
      //width: %;
      max-width: 140px;
      padding-bottom: 0;

      &__title {
        font-size: 1.2rem;
        line-height: 1.5;
        padding-left: 5%;
      }

      &__category {
        font-size: 1rem;
        padding-left: 5%;
      }
    }
  }
}

.work-typ {
  @extend .profile-typ;
  height: 100px;
  min-width: 480px;

  &__txt {
    font-size: 2rem;
    line-height: 1.4;
  }

  @include sp {
    //width: 52%;
    order: 1;
    width: 100%;
    height: auto;
    min-height: 100px;

    &__txt {
      font-size: 1.2rem;
    }
  }
}

//-----works詳細ページ-----------
.work-show {
  background: #333;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .close {
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 30px;
  }
}

.work-title {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 20px;
  width: 100%;

  a {
    color: #eee;

    &:hover {
      text-decoration: underline;
    }
  }

  @include sp {
    font-size: 1.8rem;

    a {
      text-decoration: underline;
    }
  }
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  min-width: 800px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  .inner-l {
    width: 300px;
  }

  .inner-r {
    width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include sp {
    display: block;

    .inner-l {
      width: 100%;
    }

    .inner-r {
      width: 100%;
      display: block;
    }
  }
}

.work-photo {
  text-align: center;
  margin-bottom: 40px;
  max-width: 240px;

  &:hover {
    transform: scale(1.2, 1.2);
  }

  a {
    display: block;
  }

  @include sp {
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 7px 7px #777;
    margin: 0 auto 20px;

    &:hover {
      transform: scale(1.1, 1.1);
      box-shadow: none;
    }
  }
}

.work-lead {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  flex-flow: row wrap;

  dt {
    width: 60%;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  dd {
    display: flex;
    align-items: center;
    width: 40%;
    margin-bottom: 10px;
  }

  @include sp {
    font-size: 1.4rem;
    width: 240px;
    margin: 0 auto 10px;

    dt {
      line-height: 1.2;
      margin-bottom: 5px;
    }

    dd {
      margin-bottom: 5px;
    }
  }
}

.point-wrap {
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 40px;
  width: 100%;

  @include sp {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px 3.6%;
    margin-bottom: 20px;
  }

  .point {
    color: #eec579;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;

    &:before {
      content: '★';
      color: #eec579;
    }
  }

  .p-list {
    font-size: 1.6rem;
    margin-top: 5px;
    line-height: 1.7;
    padding: 10px;

    /* list-style-type: disc; */
    li {
      margin-bottom: 20px;
      position: relative;

      &:before {
        background: #fff;
        border-radius: 50%;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 6px;
        left: -14px;
      }
    }

    @include sp {
      font-size: 1.3rem;
      line-height: 1.4;
      padding: 4px 1.4%;
    }

    li {
      margin-bottom: 10px;
      position: relative;

      &:before {
        width: 6px;
        height: 6px;
        position: absolute;
        top: 6px;
        left: -10px;
      }
    }
  }
}

.work-txt {
  font-size: 1.6rem;
  padding: 10px;
  line-height: 1.7;

  a {
    text-decoration: underline;
  }

  @include sp {
    font-size: 1.4rem;
    padding: 10px 3.4%;
  }
}

//-----works詳細ページ終わり-----------

//------------worksページ終わり-------