@import "reset", "mixin", "top", "header", "profile";

html {
  font-size: 62.5%;
}

body {
  background: #555;
  color: #fff;
  font-family: "Play", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

.sp-on {
  display: none;
  @include sp{
    display: block;
  }
}