@import "reset", "mixin", "top", "header", "profile", "works";

html {
  font-size: 62.5%;
}

body {
  background: #555;
  color: #fff;
  font-family: "Play", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

/*トランジション*/
.page-enter-active, .page-leave-active {
  transition: opacity .4s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.sp-on {
  display: none;
  @include sp{
    display: block;
  }
}